<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @to_do.title %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @to_do.notes %>
</p>

<p>
  <strong>Due:</strong>
  <%= @to_do.due %>
</p>

<p>
  <strong>Done:</strong>
  <%= @to_do.done %>
</p>

<%= link_to 'Edit', edit_to_do_path(@to_do) %> |
<%= link_to 'Back', to_dos_path %>
