<%= form_for(@goblin) do |f| %>
  <% if @goblin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goblin.errors.count, "error") %> prohibited this goblin from being saved:</h2>

      <ul>
      <% @goblin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
